@import "../../variables";

:host {
  margin: 5px;
  flex:1;
  @media screen and (max-width: $phone-breakpoint) {
    margin: 2px;
  }
}

.step-button {
  @include sequencer-button(auto, 4vw);
  min-height:20px;
  &.step-button_on {
    @include active-button-strong;
  }
}

