@import "../../variables";

:host {
  margin: 5px;
  flex:1
}

.step-button {
  @include sequencer-button(auto, 4vw);
  min-height:20px;
  &.step-button_on {
    @include active-button-strong;
  }
}

