@import "../../variables";

:host {
  margin: 5px;
  flex:1;
  @media screen and (max-width: $phone-breakpoint) {
    margin: 2px;
  }
}

.step-button {
  @include sequencer-button(auto, 4vw);
  min-height:20px;


  &.step-button_on {
    &.step-button__0 {
      @include active-step(#ecdc4e);
    }

    &.step-button__1 {
      @include active-step(#ffa64f);
    }
    &.step-button__2 {
      @include active-step(#ab5656);
    }

  }
}

