@import "../../variables";

:host{
  display: flex;
  align-items: center;

  @media screen and (max-width: $phone-breakpoint) {
    display: none;
  }

  &.track-lane_selected {
    @media screen and (max-width: $phone-breakpoint) {
      display: flex;
      padding-bottom: 15px;
      flex-wrap: wrap;
    }
  }
}

.track-lane__name {
  min-width: 100px;
  padding: 10px;
  text-align: right;
  text-transform: uppercase;
  font-size: 12px;
  @media screen and (max-width: $phone-breakpoint) {
    padding-left:0;
    text-align: left;
    display: none;
  }
}

.track-lane__steps {
  display: flex;
  flex: 1;

  @media screen and (max-width: $phone-breakpoint) {
    flex: none;
    width: 25%;
    flex-direction: column;
    align-items: center;
  }

}