@import "app/variables";
/* You can add global styles to this file, and also import other style files */
* {
  font-family: sans-serif;
  box-sizing: border-box;
}

body{
  @media screen and (max-width: $phone-breakpoint) {
    margin:0;
    height: 100vh;
  }
}

