@import "../../variables";

:host{

  &.step-indicator__beat{
    .step-indicator_active{
      @include active-button-strong(5px);

    }
  }
}

.step-indicator {
  width: 8px;
  height: 8px;
  margin: 0 5px;
  background-color: $button-off-color;
  display: inline-block;
  border-radius: 50%;
  border: 1px solid $button-off-border;

  &.step-indicator_active {
   @include active-button;

  }
}



/// velocity modifiers, with tragic nesting
.sequence-selector_velocity{
  :host{
    &.step-indicator__0 {
      .step-indicator_active {
        @include active-step($button-low-velocity);
      }
    }

    &.step-indicator__1 {
      .step-indicator_active {
        @include active-step($button-mid-velocity);
      }
    }
    &.step-indicator__2 {
      .step-indicator_active {
        @include active-step($button-active-color);
      }
    }
  }
}
