.step-indicator {
  width: 15px;
  height: 15px;
  margin: 0 10px 10px;
  background-color: #aaa;
  display: inline-block;
  border-radius: 50%;

  &.step-indicator_active{
    background-color: red;
  }
}