@import "../../variables";
:host {
  display: flex;
  margin-left: 100px;
  font-size: 12px;
  margin-bottom:10px;

  background-color: #252525;
  padding: 10px 0;
  border: 1px solid #4c4c4c;
  border-width: 0 1px 1px 0;

  @media screen and (max-width: $phone-breakpoint) {
    margin-left: 0px;
  }
}

.step-indicator-lane__item {
  display: inline-block;
  text-align: center;
  flex:1;
}
.step-indicator-lane__number{
  margin-bottom: 3px;
  color: #aaa;
  @media screen and (max-width: $phone-breakpoint) {
    font-size: 10px;
  }
}