<section class="machine__header">
    <div class="machine__name">JS-808</div>

    <div class="machine__controls">
        <div class="machine__controls__time">
            <button class="control-element control-element__play control-element_action"
                    [class.control-element_on]="playing"
                    (click)="start()"
                    [disabled]="playing"></button>
            <button class="control-element control-element__stop control-element_action" (click)="stop()"></button>

            <input [(ngModel)]="bpm" class="control-element control-element_input" [disabled]="playing">
            <div class="machine__bpm-label">BPM</div>
        </div>


        <sequence-selector (changeSequence)="changeSequence($event)"></sequence-selector>

    </div>

</section>
<section class="machine__sequencer">
    <sequence-selector (changeSequence)="changeVelocity($event)" class="sequence-selector_velocity"></sequence-selector>
    <step-indicator-lane></step-indicator-lane>
    <track-lane *ngFor="let track of sequence.tracks" [track]="track" velocity="velocity"></track-lane>
</section>
