<section class="machine__header">
    <div class="machine__name">JS-808</div>

    <div class="machine__controls">
        <div class="machine__controls__time">
            <button class="control-element control-element__play control-element_action"
                    [class.control-element_on]="playing"
                    (click)="start()"
                    [disabled]="playing"></button>
            <button class="control-element control-element__stop control-element_action" (click)="stop()"></button>

            <input [(ngModel)]="bpm" class="control-element control-element_input" [disabled]="playing">
            <div class="machine__bpm-label">BPM</div>
        </div>


        <sequence-selector (changeSequence)="changeSequence($event)"></sequence-selector>

    </div>

</section>
<section class="machine__sequencer">
    <div>
        <velocity-selector (changeVelocity)="changeVelocity($event)" class="sequence-selector_velocity"></velocity-selector>
        <div class="machine__track-selector">
            <button class="machine__button"
                    (click)="selectTrack(track)"
                    [class.machine__button_on]="trackSelected == track"
                    *ngFor="let track of sequence.tracks">{{track.instrument}}</button>
        </div>


    </div>
    <step-indicator-lane></step-indicator-lane>


    <track-lane *ngFor="let track of sequence.tracks; let i = index" [track]="track" velocity="velocity"
            [class.track-lane_selected]="track === trackSelected"></track-lane>
</section>
