@import "variables";


:host {
  color: $machine-font-color;
  display: block;
  padding: 0;
  border: 2px solid $machine-border-color;
  background-color: $machine-bg-color;
  max-width: 1024px;
  @media screen and (max-width: $phone-breakpoint) {
    height: 100%;
  }
}


.machine__header {
  display: flex;
  justify-content: space-between;
  padding: 5px 27px 20px 10px;
  background-color: #252525;
  color: #555;
  margin: 4px 4px 10px;

  @media screen and (max-width: $phone-breakpoint) {
    display: block;
  }
}

.machine__name {
  font-size: 40px;
  white-space:nowrap;
  color: #bbb;
  margin-left: 10px;

  @media screen and (max-width: $phone-breakpoint) {
    text-align: center;
    margin-left: 0;
  }
}
.machine__controls {
  display: flex;
  align-items: center;
  @media screen and (max-width: $phone-breakpoint) {
    justify-content: space-between;
  }
}
.machine__controls__time {
  display: flex;
  align-items: center;
}

.machine__sequencer {
  padding: 0 25px 45px 5px;
  @media screen and (max-width: $phone-breakpoint) {
    padding: 10px;
  }
}

.machine__bpm-label{
  @media screen and (max-width: $phone-breakpoint) {
    display: none;
  }
}



.control-element {
  @include sequencer-button(40px,32px);
  &.control-element_on {
    @include active-button;
  }
  margin-left: 15px;
  &.control-element_action {
    &:active {
      @include active-button;
      outline:none;
    }
  }
  &:active {
    outline:none;
  }

  &:focus {
    outline: none;
  }
}

.control-element__play {
  position: relative;
  &:after{
    line-height: 0;
    top: 16px;
    position: absolute;
    font-size: 28px;
    display: block;
    content: '\25B6';
    color: #222;
  }
}

.control-element__stop {
  position: relative;
  &:after{
    line-height: 0;
    top: 4px;
    left: 8px;
    position: absolute;
    font-size: 50px;
    display: block;
    content: '';
    width: 21px;
    height: 21px;
    background-color: #222;
  }

}


.control-element_input {
  width: 40px;
  font-size: 14px;
  font-weight: bold;
}
