@import "../../variables";

:host {
  display: flex;
  align-items: center;
  margin-left: 30px;

  &.sequence-selector_velocity {

    padding: 20px 0 20px;
    justify-content: flex-end;

    .sequencer-selector__label{
      display: none;
    }

    .sequencer-selector__numbers {
      display: flex;

    }

    .sequencer-selector__button {
      width: 30px;
      height: 20px;
    }
  }


}


.sequencer-selector__number{
  width: 30px;
  display: flex;
  justify-content: flex-end;
}

.sequencer-selector__button {
  @include sequencer-button(35px, 45px);
  margin-left:10px;

  &:active {
    @include active-button;
    outline:none;
  }

  &:focus {
    outline: none;
  }
}
