@import "../../variables";

:host {
  display: flex;
  align-items: center;

  justify-content: flex-end;
  padding: 0 10px 25px;
}

.velocity-selector__label {
  display: none;
}


.velocity-selector__numbers {
  display: flex;
}


.velocity-selector__number {
  width: 30px;
  display: flex;
  justify-content: flex-end;
}

.velocity-selector__button {
  @include sequencer-button(30px, 20px);
  margin-left:10px;

  &:active {
    @include active-button;
    outline:none;
  }

  &:focus {
    outline: none;
  }
}
